body
{
/*thanks to http://subtlepatterns.com/pixel-weave/ for the background image*/
background-image:url('pixel_weave.png');
background-repeat:repeat;
font-family:'Libre Baskerville';
}
#title
{
padding-top:50px;
float:center;
text-align:center;
font-size:48px;
}