<!doctype html>
<html lang="en">
<head>
	<script type="text/javascript" src="jquery.clearfield.js"></script>
	<script type="text/javascript" src="jquery-1.10.2.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
	<title>Bandcamp Roulette</title>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='style.css'/>
	
</head>
<body>
	<script>
	$(document).ready(function() {
	$('.clearField').clearField();
	});
	
	</script>
	<div id="title"><b>Bandcamp Roulette</b></div>
	
	<div id="payment">
	
	</div>

	<div id="search">
	
        <form action="/" method="get">
            <input type="text" class="clearField" name="search" value="Enter a Random Word" />
            <input type="submit" class="myButton" value="Find My Song!"/>
            <input type="submit" class="myButton" name="randomWord" value="Random Word"/>
        </form>
	</div>
	
	<div id="curSong">
        {% if song %}
           <iframe src="{{ song }}" width=400 height=100></iframe>
        {% endif %}
	</div>
	
	<div id="goodSongs">
	<h1>Good Songs</h1>
	Good Song Test 1
	</div>

	<div id="rules">
	<h1>Rules</h1>
	1. Think of one or two random words.<br><br>
	2. Listen.<br><br>
	3. Take a majority vote. <br> Is the Song Good or Not?<br><br>
	4. Repeat<br><br>
	5. Once you have a good list. <br> Chose the best song.<br><br>
	6. You have found the best song on bandcamp!<br><br>
	</div>

</body>
</html>
